<!DOCTYPE html>
<html>
  <head>
    <title>Vuetest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header">
        <p>Jacob Simpson Assessment</p>
      </div>
    </header>
    
    <div class="container">
      <%= yield %>    
    </div>    

    <footer>
      <div class="footer">
        <div class="footer-name">@Jacob Simpson</div>

        <div class="right center">
          <a href="https://github.com/Be-Like" target="_blank"><img class="social-icon" src="/Github.svg" alt="GitHub" /> </a>
          <a href="https://www.linkedin.com/in/jake-simpson-2b464b118" target="_blank"><img class="social-icon" src="/Linkedin.svg" alt="LinkeIn" /> </a>
        </div>
      </div>
    </footer>
  </body>
</html>
